.app {
  display: flex;
}

.sidebar {
  width: 250px; /* Initial width of the sidebar */
  height: 100vh;
  background-color: #333;
  color: #fff;
  overflow: hidden; /* Ensure content doesn't overflow when collapsed */
  transition: width 0.3s ease; /* Transition width for smooth animation */
}

.sidebar.collapsed {
  width: 70px; /* Width when collapsed */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-menu li svg {
  margin-right: 10px;
}

.sidebar-menu li.icon-only {
  justify-content: center;
  padding: 1rem;
}

.sidebar-menu li.icon-only svg {
  margin-right: 0; /* Remove margin for icons */
}

.content {
  flex: 1;
  padding: 20px;
}
