.app {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5R6qWLHvgMjxwlGPThnutOtUc0liQqoWZo49KdLrUKp_e5NPZL5iVAbiO9umJvJ_ruD0&usqp=CAU');
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: width 0.3s ease;
  position: relative;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  position: relative;
}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.sidebar-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-menu li a .tooltip {
  display: none;
}

.sidebar.collapsed .sidebar-menu li a:hover .tooltip {
  display: block;
  position: absolute;
  left: 50%; /* Move the tooltip to the right of the collapsed sidebar */
  top: 50%;
  transform: translate(10px, -50%); /* Adjust tooltip position */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1000;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 200px;
  border-top: 1px solid #ffffff;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.profile-role {
  font-size: 1rem;
  color: #ffffff;
}
