.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar .toggle-button {
    position: absolute;
    top: 10px;
    right: -50px;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 8px 16px;
    text-align: left;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }
  