.App {
  font-family: Arial, sans-serif;
}

.content {
  margin-left: 250px;
  padding: 16px;
  transition: margin-left 0.3s;
}

.sidebar.open + .content {
  margin-left: 250px;
}

.sidebar:not(.open) + .content {
  margin-left: 0;
}
